div.tab_content table {
	margin-bottom: 1em;
}
table.more_toc_options_table th, table.more_toc_options_table td {
	padding: 0;
	margin: 0;
}
table.more_toc_options_table th {
	width: auto;
	padding-right: 4px;
	padding-top: 2px;
}
div.tab_content ul li {
	margin-left: 2em;
	list-style-type: disc;
}
div.tab_content ol li {
	list-style: inherit;
}
div.tab_content pre {
	margin-left: 2em;
}
ul#tabbed-nav {
	margin-top: 1em;
}
#tabbed-nav {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #DFDFDF;
	border-left: 1px solid #DFDFDF;
	width: 100%;
}
#tabbed-nav li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #DFDFDF;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #F5F5F5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F5F5F5));
	background-image: -webkit-linear-gradient(center top, #fff, #F5F5F5);
	background-image: -moz-linear-gradient(center top, #fff, #F5F5F5);
	background-image: -ms-linear-gradient(center top, #fff, #F5F5F5);
	background-image: -o-linear-gradient(center top, #fff, #F5F5F5);
	background-image: linear-gradient(center top, #fff, #F5F5F5);
}
#tabbed-nav li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
#tabbed-nav li a:hover {
	background: #ECECEC;
}
html #tabbed-nav li.active, html #tabbed-nav li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
div.tab_container {
	border: 1px solid #DFDFDF;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
	margin-bottom: 2em;
	padding-bottom: 2em;
}
div.tab_content {
	padding: 10px;
	padding-bottom: 0;
	font-size: 1em;
}
h3 span.show_hide {
	font-size: 0.85em;
	font-weight: normal;
}
div.more_toc_options {
	margin-top: 4px;
	margin-left: 2em;
}
div.toc_theme_option {
	width: 200px;
	float: left;
	margin-right: 5px;
}
#wpcontent select optgroup option {
	padding-left: 15px;
}
input#width_custom,
input#font_size,
input#smooth_scroll_offset {
	width: 50px;
	text-align: center;
}
input.custom_colour_option {
	width: 75px;
}
table#theme_custom, div#farbtastic_colour_wheel {
	float: left;
}
table#theme_custom {
	margin-top: 30px;
}
table#theme_custom img {
	vertical-align: middle;
	opacity: 0.4;
}
table#theme_custom img:hover {
	cursor: pointer;
	opacity: 1;
}
div#farbtastic_colour_wheel {
	margin-left: 20px;
}
#tab3 h3:not(:first-child) {
	margin-top: 2em;
}

/* My styles */
#toc input.small-text {
	width: 50px;
	padding: 2px;
	height: 28px;
	line-height: 28px;
	vertical-align: bottom;
}

#toc .form-table tr > th > strong {
	font-size: 18px;
	font-style: italic;
}
